html {
    height: 100%;
    cursor: url('../../assets/cur/pika.png'), pointer;
    font-family: 'adam';
}
/* #vid {
    position: fixed;
    top: -75px;
    left: -75px;
    min-width: 100%;
    min-height: 100%;
} */

#back:hover, #home:hover, #ig:hover, #nextpage:hover { 
cursor: pointer;
}
div {
    padding: 0.75em;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 26px;
}
